@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/*==============================================================================*/

#bg {
  background-image: url('../images/LV.jpg');
  width: 100%; height: 100%;
  position: fixed; top: 0; left: 0;
  transition: all 2s ease-out;
}

/*==============================================================================*/

:root {
  --bg: #fff;
  --text: #382b22;
  --light-pink: #fff0f0;
  --pink: #ffe9e9;
  --dark-pink: #f9c4d2;
  --pink-border: #b18597;
  --pink-shadow: #ffe3e2;
}

* {
  box-sizing: border-box;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  font-weight: 600;
  color: var(--text);
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: var(--light-pink);
  border: 2px solid var(--pink-border);
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--dark-pink);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--pink-border), 0 0.625em 0 0 var(--pink-shadow);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more:hover {
  background: var(--pink);
  transform: translate(0, 0.25em);
}

button.learn-more:hover::before {
  box-shadow: 0 0 0 2px var(--pink-border), 0 0.5em 0 0 var(--pink-shadow);
  transform: translate3d(0, 0.5em, -1em);
}

button.learn-more:active {
  background: var(--pink);
  transform: translate(0em, 0.75em);
}

button.learn-more:active::before {
  box-shadow: 0 0 0 2px var(--pink-border), 0 0 var(--pink-shadow);
  transform: translate3d(0, 0, -1em);
}

/*==============================================================================*/
p { margin: 15px 0; line-height: 24px; color: gainsboro; }
a { color: dodgerblue; text-decoration: none; border-bottom: 1px dotted; }
a:hover { color: tomato; }

/* Sixth */
h1.sixth { position: relative; }

h1.sixth:before,
h1.sixth:after {
  content: '[';
  display: inline-block;
  position: relative;
  top: 1px;
  height: 100%;
  font-size: 1.25em;
  color: tomato;
  
  transition: all 0.5s ease;
}

h1.sixth:after { content: ']'; }

h1.sixth:hover:before { 
  transform: translateX(-5px);
}

h1.sixth:hover:after { 
  transform: translateX(5px);
}

/*==============================================================================*/

/* 우측하단 */
.footer-text {
    position: fixed; /* 화면에 고정 */
    bottom: 10px; /* 하단에서 10px 떨어지게 */
    right: 10px;  /* 우측에서 10px 떨어지게 */
    font-size: 14px;
    color: #333; /* 원하는 색상으로 변경 가능 */
    padding: 5px; /* padding 추가 가능 */
    font-family: 'Satisfy', cursive; /* Satisfy 폰트 적용 */
}

/*==============================================================================*/
