<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jeommechu</display-name>
  <welcome-file-list>
    <welcome-file>title.html</welcome-file>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LunchServlet</servlet-name>
    <servlet-class>com.jeommechu.web.index.LunchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LunchServlet</servlet-name>
    <url-pattern>/GetLunches</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddLunchServlet</servlet-name>
    <servlet-class>com.jeommechu.web.index.AddLunchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLunchServlet</servlet-name>
    <url-pattern>/AddLunch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResetLunchesServlet</servlet-name>
    <servlet-class>com.jeommechu.web.index.ResetLunchesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetLunchesServlet</servlet-name>
    <url-pattern>/ResetLunches</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameOneServlet</display-name>
    <servlet-name>GameOneServlet</servlet-name>
    <servlet-class>com.jeommechu.web.game.GameOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameOneServlet</servlet-name>
    <url-pattern>/GameOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameTwoServlet</display-name>
    <servlet-name>GameTwoServlet</servlet-name>
    <servlet-class>com.jeommechu.web.game.GameTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameTwoServlet</servlet-name>
    <url-pattern>/GameTwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertUserServlet</display-name>
    <servlet-name>InsertUserServlet</servlet-name>
    <servlet-class>com.jeommechu.web.user.InsertUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUserServlet</servlet-name>
    <url-pattern>/InsertUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.jeommechu.web.user.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.jeommechu.web.user.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>TimeCheckFilter</display-name>
    <filter-name>TimeCheckFilter</filter-name>
    <filter-class>com.jeommechu.web.common.TimeCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TimeCheckFilter</filter-name>
    <url-pattern>/jeommechu/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.jeommechu.web.common.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/jeommechu/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AuthenticationFilter</display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.jeommechu.web.common.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/jeommechu/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GameSelectServlet</display-name>
    <servlet-name>GameSelectServlet</servlet-name>
    <servlet-class>com.jeommechu.web.index.GameSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameSelectServlet</servlet-name>
    <url-pattern>/GameSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberListServlet</display-name>
    <servlet-name>MemberListServlet</servlet-name>
    <servlet-class>com.jeommechu.web.index.MemberListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberListServlet</servlet-name>
    <url-pattern>/MemberList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberDeleteServlet</display-name>
    <servlet-name>MemberDeleteServlet</servlet-name>
    <servlet-class>com.jeommechu.web.member.MemberDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberDeleteServlet</servlet-name>
    <url-pattern>/MemberDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberEditServlet</display-name>
    <servlet-name>MemberEditServlet</servlet-name>
    <servlet-class>com.jeommechu.web.member.MemberEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberEditServlet</servlet-name>
    <url-pattern>/MemberEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuListServlet</display-name>
    <servlet-name>MenuListServlet</servlet-name>
    <servlet-class>com.jeommechu.web.menulist.MenuListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuListServlet</servlet-name>
    <url-pattern>/MenuList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuSelectServlet</display-name>
    <servlet-name>MenuSelectServlet</servlet-name>
    <servlet-class>com.jeommechu.web.menulist.MenuSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuSelectServlet</servlet-name>
    <url-pattern>/MenuSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameFourServlet</display-name>
    <servlet-name>GameFourServlet</servlet-name>
    <servlet-class>com.jeommechu.web.game.GameFourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameFourServlet</servlet-name>
    <url-pattern>/GameFour</url-pattern>
  </servlet-mapping>
</web-app>