<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jeommechu</display-name>
  <welcome-file-list>
    <welcome-file>title.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>select.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LunchServlet</servlet-name>
    <servlet-class>com.jeommechu.web.index.LunchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LunchServlet</servlet-name>
    <url-pattern>/GetLunches</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddLunchServlet</servlet-name>
    <servlet-class>com.jeommechu.web.index.AddLunchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLunchServlet</servlet-name>
    <url-pattern>/AddLunch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResetLunchesServlet</servlet-name>
    <servlet-class>com.jeommechu.web.index.ResetLunchesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetLunchesServlet</servlet-name>
    <url-pattern>/ResetLunches</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameOneServlet</display-name>
    <servlet-name>GameOneServlet</servlet-name>
    <servlet-class>com.jeommechu.web.game.GameOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameOneServlet</servlet-name>
    <url-pattern>/GameOne</url-pattern>
  </servlet-mapping>
</web-app>